#node-border {
    background-color: rgba(56, 56, 56, 255);
    border-left-color: rgba(47, 47, 47, 255);
    border-right-color: rgba(47, 47, 47, 255);
    border-top-color: rgba(47, 47, 47, 255);
    border-bottom-color: rgba(47, 47, 47, 255);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#input {
    align-items: center;
}

#output {
    align-items: center;
}

#selection-border {
    border-left-color: rgba(255, 0, 0, 255);
    border-right-color: rgba(255, 0, 0, 255);
    border-top-color: rgba(255, 0, 0, 255);
    border-bottom-color: rgba(255, 0, 0, 255);
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
